[Unit]
Description=scheduling taiwan lottery scarper

[Timer]
OnActiveSec=1m
OnCalendar=*-*-* 01:00:00
Persistent=true
Unit=lotto-scraper.service

[Install]
WantedBy=multi-user.target