[Unit]
Description=taiwan lottery scarper

[Service]
WorkingDirectory=/opt/app/gce/env/bin
ExecStart=/opt/app/gce/env/bin/python /opt/app/app.py

[Install]
WantedBy=multi-user.target